<h1>Stupid coaching</h1>

<div class=global class="d-flex align-items-center" ></div>
  <div class= grey></div>
  <div class = bloc>
    <h2 class = question><%= @question %></h2>
    <h2 class = answer>- <%= @answer %></h2>
  </div>
</div>

<%= link_to "Ask a new question", ask_path, class: "link" %>
